.footer__container {
    text-align: center;
}

.footer__container__logos img {
    width: 100%;
}

.footer__container__text {
    margin: 30px 0px;
    border-top: 1px solid #e3e3e3;
}

.footer__container__text p {
    color: #9f9f9f;
    font-size: 13.2px;
}

@media (max-width:768px) {
    .footer__container__logos img {
        display: none;
    }
}