
.info__container{
    text-align: center;
}

    .info__container__icon{
        padding-top: 20px;
        width: 40px;
    }

    .info__container h1{
        font-size: 20px;
        margin: 20px;
        color: #555555;
        letter-spacing: 1px;
    }

    .info__container p{
        font-size: 12px;
        margin: 20px;
        color: #acacac;
        letter-spacing: 0.5px;
    }


@media (min-width:768px) {
    .info__container__icon{
        width: 50px;
    }

    .info__container h1{
      margin: 30px;
    }

    .info__container p{
        margin: 30px;
    }
}

@media (min-width:1024px) {

    .info__container{
        margin-top: 100px;
    }

    .info__container__icon{
        width: 70px;
    }

    .info__container h1{
       font-size: 31.2px;
    }
    
    .info__container p{
        font-size: 19.2px;
        margin: 40px 160px;
        line-height: 30px;
    }

}